MONGODB_URI=mongodb+srv://MUZEE:Adekunle24@cluster0e6sqqocmongodbnet/lareji?retryWrites=true&w=majority
PORT=5000 
NODE_ENV=production
JWT_SECRET=lareji_secret_key_12345
VITE_FLUTTERWAVE_PUBLIC_KEY=FLWPUBK-610ac333c8f4ad4d8d8bc479891f1a87-X
FLUTTERWAVE_SECRET_KEY=FLWSECK-fb77a8df1fe89dd2405b20bcb5bea438-19df71106d1vt-X
EMAIL_USER=larejico@gmailcom    
EMAIL_PASSWORD=EXlareji11$
FRONTEND_URL=https://lareji-storevercelapp